@using RunGroupAplication.ViewModels
@model UserDetailViewModel

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1 class="display-5 fw-bold">@Model.UserName</h1>
                @if (@Model.ProfileImageUrl == null || @Model.ProfileImageUrl == "")
                {
                    <img class="img-fluid" src="~/images/profile.webp" alt="Generic placeholder image" height="300">
                }
                else
                {
                    <img class="img-fluid" src="@Model.ProfileImageUrl" alt="User Image" height="300">
                }
             

            </div>
            <div class="col-md-8" id="user-info">
                <h3 class="text-black mt-5">@Model.FirstName @Model.Surname</h3>
                <h4>Something about myself:</h4>
                <p>@Model.Info</p>
                <h5>My Pace</h5>
                <p>@Model.Pace</p>
                <h5>Mileage</h5>
                <p>@Model.Mileage</p>

                <hr />

                <h3>Contact Information</h3>
                <p>Phone: @Model.PhoneNumber</p>
            </div>
        </div>
    </div>
<div class="album py-5">
    <div class="container">
       
        <div class="detail-container">
            <div class="row">
                <div class="col-12">
                    <h2 class="display-4 fw-normal col-12">My Races</h2>
                </div>
            </div>
           
            
            @if(Model.Races.Count == 0)
            {
                <h3>Currently, there are no races</h3>
            }
                <div class="row row-cols-1 row-cols-md-3 g-3">
            @foreach (var item in Model.Races)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@item.Image" width="100%" height="225" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">@item.Title</p>
                            <p class="card-text">@item.ShortDescription</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="btn btn-success" asp-controller="Race" asp-action="Detail" asp-route-id="@item.Id"
                                       class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                                <small class="text-muted">@item.RaceCategory</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
                   </div>
         
            <div class="detail-container">
                
            <div class="row">
                <div class="col-12">
                    <h2 class="display-4 fw-normal col-12">My Clubs</h2>
                </div>
            </div>
           
            @if (Model.Clubs.Count == 0)
            {
                <h3>Currently, there are no clubs</h3>
            }
             <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            @foreach (var item in Model.Clubs)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow" id="card-box">
                        <img class="card-img-top" src="@item.Image" width="100%" height="225" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">@item.Title</p>
                            <p class="card-text">@item.ShortDescription</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="btn btn-success" asp-controller="Club" asp-action="Detail" asp-route-id="@item.Id"
                                       class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                                <small class="text-muted">@item.ClubCategory</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
 </div>
</main>
   

               